body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5
}

a {
	text-decoration: none;
}

.header-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 2px solid gray;
    text-align: center;
    vertical-align: text-bottom;
    z-index: 100;
}

.name-block {
    float: left;
    margin-left: 90px;
    width: 300px;
    vertical-align: text-bottom;
    height: 100px;
    color: white;
    background-color:#4aaaa5;
}

.name-block h1 {
    color:white;
    vertical-align: text-bottom
}

.nav-links {
    float: right;
    margin-right: 100px;
    margin-top: 25px;
    color: darkslategray;
    background-color:white;
    vertical-align: middle;
    padding: 0;
	text-align: center;
	font-weight: normal;
}

.nav-links ul li {
	display: inline-block;
	padding-left: 1em;
	margin-left: 1em;
}

.nav-links ul li a {
	color: #b1adb3;
}

.nav-links ul li a:hover {
	color: #4aaaa5;
}

.nav-links ul li a.active {
	color: #000000;
}

.nav-links ul li+li {
	border-left: 1px solid #cccccc;
}

.main-section {
    position: relative;
    top: 95px;
    left: -15px;
    background-image: url("assets/images/noise-background.png");
    background-color:lightgrey;
    width: 105%;
    height: 600px;
    z-index: 0;
}

.content {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 45%;
    height: 500px;
    background-color: white;
    z-index: 1;
    padding-left: 50px;
}

.content img {
    float: left;
}

hr {
    width: 90%;
}

.connect {
    position: absolute;
    top: 60px;
    right: 100px;
    width: 220px;
    height: 120px;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.connect li {
    float: left;
}

.footer {
    position: relative;
    top: 95px;
	left: -5px;
	width: 100%;
	padding: 3em;
	text-align: center;
	font-size: 0.8em;
	color: #cccccc;
	background-color: #666666;
    border-top: 7px solid #4aaaa5;
}

