body {
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5
}

a {
	text-decoration: none;
}

.header-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: white;
    border-bottom: 2px solid #cccccc;
    text-align: center;
    vertical-align: text-bottom;
    z-index: 100;
}

.name-block {
    float: left;
    margin-left: 30px;
    width: 300px;
    vertical-align: text-bottom;
    height: 75px;
    color: white;
    background-color:#4aaaa5;
}

.name-block h1 {
    color:white;
    vertical-align: text-bottom
}

.nav-links {
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    color: darkslategray;
    background-color:white;
    vertical-align: middle;
    padding: 0;
	text-align: center;
	font-weight: normal;
}

.nav-links ul li {
	display: inline-block;
	padding-left: 1em;
	margin-left: 1em;
}

.nav-links ul li a {
	color: #b1adb3;
}

.nav-links ul li a:hover {
	color: #4aaaa5;
}

.nav-links ul li a.active {
	color: #000000;
}

.nav-links ul li+li {
	border-left: 1px solid #cccccc;
}

.main-section {
    position: relative;
    top: 65px;
    left: -15px;
    background-image: url("assets/images/spiration-light.png");
    background-color:lightgrey;
    width: 105%;
    height: 1100px;
    z-index: 0;
    clear: both;
}

.content {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 540px;
    height: auto;
    background-color: white;
    border: 5px solid #dddddd;
    z-index: 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 75px;
}

.content img {
    float: left;
    margin-right: 15px;
}

.content hr {
    width: 100%;
}

.connect {
    position: absolute;
    top: 60px;
    right: 100px;
    width: 270px;
    height: auto;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.connect hr {
    width: 90%
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 2em;
	text-align: center;
	font-size: 0.8em;
	color: #cccccc;
	background-color: #666666;
    border-top: 7px solid #4aaaa5;
}

/* Starting Portfolio CSS */


.hangman-image {
    position:relative;
    left: 40px;
    text-align: center;
    color: white;
}

.hangman-text {
    position: absolute;
    top: 115px;
    width: 200px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #4aaaa5; 
}

.rpg-image {
    position:relative;
    left: 80px;
    text-align: center;
    color: white;
}

.rpg-text {
    position: absolute;
    top: 115px;
    width: 200px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left:215px;
    background-color: #4aaaa5; 
}

.trivia-image {
    position:relative;
    left: 40px;
    top: 40px;
    text-align: center;
    color: white;
}

.trivia-text {
    position: absolute;
    top: 305px;
    width: 200px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #4aaaa5;
} 

.rutgers-image {
    position:relative;
    left: 80px;
    top: 40px;
    text-align: center;
    color: white;
}

.rutgers-text {
    position: absolute;
    top: 305px;
    width: 200px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left:215px;
    background-color: #4aaaa5; 
}

.rps-image {
    position:relative;
    left: 40px;
    top: 80px;
    text-align: center;
    color: white;
    margin-bottom: 600px;
}

.rps-text {
    position: absolute;
    top: 490px;
    width: 200px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #4aaaa5;
} 



/* begin contact css */

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}